.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(253, 202, 60);
  height: 70px;
}

.header .icon {
  width: 60px;
  height: 60px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(253, 202, 60);
  height: 50px;
}

.productos {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.producto {
 /* border: 1px solid;*/
   margin: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.producto .info {
  width: 400px;
}

.productos img {
  width: 150px;
  height: 150px;

}

.producto .favicon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}